.sfdx/orgs/test-tnggquros28y@example.com/metadataTypeInfos.json
.sfdx/orgs/test-qkikcupvu14f@example.com/metadataTypeInfos.json
.sfdx/orgs/test-qkikcupvu14f@example.com/sourcePathInfos.json
.sfdx/orgs/test-tnggquros28y@example.com/sourcePathInfos.json
